/**
 * Tables
 */


.table {
  width: 100%;
  margin-bottom: $spacer;
  color: inherit;
  background-color: $white; // Reset for nesting within parents with `background-color`.

  th,
  td {
    padding: calc($spacer / 2);
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: ($table-border-width * 2) solid $table-border-color;
  }

  tbody + tbody {
    border-top: ($table-border-width * 2) solid $table-border-color;
  }
}
