.mw-650 {
  max-width: 65rem;
 
}
.mw-870 {
  max-width: 87rem;
}

.mw-790 {
  max-width: 79rem;
}

.mw-950 {
	max-width: 95rem;
}

.text-center {
  text-align: center;
}

.pr {
  position: relative;
}

.zi-4 {
  z-index: 4;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
